{% set menu = 'book' %}
{% set selected = 'aenied' %}
{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <main>
    <h3>The Aenied, by Virgil</h3>

    <p>Ok so you've got the Odyssey and the Iliad... What about the Aenied? What is that about? Well let me tell you! Ok so the Aeneid is Rome's response to the Greeks epics by Homer. The Romans wanted their own story of how they are so great and mighty, so Virgil was tasked with writing the epic of Aeneas, founder of Rome. This takes place shortly after the Trojan War as Aeneas flees his fallen city. After this he endures many trials and difficulties and soon makes his way to Italy. While he is there he has to fight against the other king there, and when he does he is able to defeat him in a duel. Aeneas then gains the land as his own and starts his legacy of Rome</p>

    <p>This is an awesome book! If you liked the Odyssey and the Iliad, then you will like this book, since Virgil to make up for the Greeks two books combined the best aspects of both into one book. Therefore it is a little shorter, but it is not shorter in the amount of adventure you get. I strongly recommend this book and give it a <strong>ten out of one. It was so good it defies logic</strong>

    <span itemscope itemtype="schema.org/BuyAction"><p>You can get this book off of Amazon <a href="http://www.amazon.com/Aeneid-Vintage-Classics-Virgil/dp/0679729526/ref=sr_1_1?ie=UTF8&qid=1433168646&sr=8-1&keywords=aeneid+by+virgil">here.</a></span>
  </main>
{% endblock %}
{% block footer %}
  {{ super() }}
{% endblock %}
