{% set menu = 'main' %}
{% extends "base.html" %}
{% block title %}- Login{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <main>
    <form action="/login/check" method="post">
              <p>Username: <input name="username" type="text" autofocus="true"></p>
              <p>Password: <input name="password" type="password"></p>
              <input type="submit" value="Login">
          </form>
  </main>
{% endblock %}
{% block footer %}
  <p class="copyright">This is copyrighted by Colin. In the year of <a id="date?" class="wierddate" title="I really hope you don't believe this. If you do, you are either in the future or just want to believe in impossible things. The actual time this webpage was made was in the year of 2015. Fun eh?" href="#date?">12345</a>. &copy 12345 All Rights Reserved</p>
{% endblock %}
