{% set menu = 'main' %}
{% set page = 'quizCreation' %}
{% extends "base.html" %}
{% block title %}- Create Quiz{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <main>

    <h1>Quiz Creation</h1>
    <h4>You must select one of the types by clicking it</h4>

    <select autofocus id="selectElement">
      <option id="multipleChoice" value="multipleChoice">"Multiple Choice" Quiz</option>
      <option id="matching" value="matching">"Matching" Quiz</option>
      <option id="selectAllApplying" value="selectAllApplying">"Select All Applying" Quiz</option>
      <option id="shortAnswer" value="shortAnswer">"Short Answer" Quiz</option>
      <option id="undetermined" value="undetermined" selected>Select One...</option>
    </select>

    <hr>
    <div id="creationArea">Loading...</div>
    <hr>

  </main>
{% endblock %}
{% block footer %}
  {{ super() }}
  <script src="{{url_for('static', filename='script/eventemitter2.js')}}"></script>
  <script src="{{url_for('static', filename='script/lodash.min.js')}}"></script>
  <script src="{{url_for('static', filename='script/velocity.min.js')}}"></script>
  <script src="{{url_for('static', filename='script/quizCreation.js')}}"></script>
{% endblock %}
