{% set menu = 'main' %}
{% set page = 'quizCreation' %}
{% extends "base.html" %}
{% block title %}- Create Quiz{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <main>

    <h1>Quiz Creation</h1>
    <h4>What kind of quiz would you like to create?</h4>

    <button id="autoGradeButton">Automatically Graded Quiz</button><button id="manuallyGradeButton">Manually Graded Quiz</button>
    <br>
    <span id="hiddenthing">
      <input id="hiddenInput" autofocus="true" placeholder="Placeholder"></input>
    </span>

  </main>
{% endblock %}
{% block footer %}
  {{ super() }}
  <script src="{{url_for('static', filename='script/eventemitter2.js')}}"></script>
  <script src="{{url_for('static', filename='script/handlebars.runtime-v4.0.5.js')}}"></script>
  <script src="{{url_for('static', filename='script/lodash.min.js')}}"></script>
  <script src="{{url_for('static', filename='script/velocity.min.js')}}"></script>
  <script src="{{url_for('static', filename='script/quizCreation.js')}}"></script>
{% endblock %}
