{% set menu = 'main' %}
{% set selected = 'todo' %}
{% extends "base.html" %}

{% block title %}- Todolist{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
  <main>

    <input id="add_list_input" autofocus="true" placeholder="Add An Item To Do"></input><button id="add_list_button">Add</button>
    <ul id="todolist" class="cdi-ul">
    </ul>

  </main>
{% endblock %}

{% block footer %}
  {{ super() }}
  <script src="{{url_for('static', filename='script/eventemitter2.js')}}"></script>
  <script src="{{url_for('static', filename='script/handlebars.runtime-v4.0.5.js')}}"></script>
  <script src="{{url_for('static', filename='script/test.js')}}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.0.7/dragula.min.js"></script>
  <script src="{{url_for('static', filename='script/todolist.js')}}"></script>
{% endblock %}
